@charset "UTF-8";
/* Body */
body
{
	font-family:      Arial, sans-serif;
	background-color: #f2f2f2;
	font-style:       normal;
	font-weight:      200;
	min-width:        768px;
	text-align:       center;
	text-shadow:      0 0 5px black;
}

body a
{
	text-decoration: none;
	font:            inherit;
	color:           inherit;
}

body p
{
	line-height:   180%;
	padding-left:  3%;
	padding-right: 3%;
}

/* Container */
.container
{
	width:            90%;
	margin-left:      auto;
	margin-right:     auto;
	background-color: white;
}

/* Navigation */
header
{
	width:               100%;
	height:              50px;
	background-color:    #4067ef;
	transition-duration: 1.5s;
}

.logo
{
	color:               white;
	font-size:           20px;
	font-weight:         normal;
	margin-top:          15px;
	margin-left:         25px;
	float:               left;
	transition-duration: 1.5s;
}

.logo:hover
{
	text-shadow: 0 0 10px black;
}

nav
{
	float:        right;
	text-align:   right;
	margin-right: 20px;
}

header nav ul
{
	list-style: none;
	float:      right;
}

nav ul li
{
	float:       left;
	color:       white;
	font-size:   18px;
	text-align:  center;
	font-weight: normal;
}

nav ul li a
{
	color:               white;
	padding:             10px 10px 8px;
	transition-duration: 1s;
}

nav ul li:hover a
{
	box-shadow: 0 0 10px #303030;
}

/* Banner */
.banner
{
	height:              auto;
	margin-top:          10px;
	padding:             40px 0;
	background:          url(../Assets/Images/Banner/The-Starry-Night.jpg) no-repeat fixed;
	background-size:     cover;
	transition-duration: 1.5s;
}

@keyframes welcome-emit
{
	from
	{ color: transparent; }
}

.welcome
{
	padding:     30px 3% 20px;
	margin:      0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:   48px;
	font-weight: normal;
	color:       white;
	text-align:  center;
	text-shadow: 0 0 10px black;
	animation:   welcome-emit 2s forwards;
}

@keyframes welcome-text-emit
{
	from
	{ color: transparent; }
}

.banner p
{
	background-color: #00000050;
}

.welcome-text
{
	color:       white;
	font-size:   18px;
	text-align:  center;
	text-shadow: 0 0 5px black;
	padding:     25px 10%;
	animation:   welcome-text-emit 1.5s forwards;
}

.rect-button
{
	border:              3px solid white;
	border-radius:       12px;
	color:               white;
	font-size:           20px;
	padding:             3px 15px 5px;
	margin-top:          20px;
	margin-right:        auto;
	margin-left:         auto;
	display:             inline-block;
	background-color:    #00000040;
	transition-duration: 1.5s;
}

.rect-button:hover
{
	background-color: white;
	text-shadow:      none;
	color:            #606060;
	box-shadow:       0 0 10px black;
}

/* Board */
.board
{
	width:         100%;
	margin-top:    10px;
	display:       inline-block;
	margin-bottom: -4px;
}

/* Card */
.card-left
{
	float: left;
}

.card-right
{
	float: right;
}

.card-left, .card-right
{
	width:               49.5%;
	color:               gray;
	transition-duration: 0.5s;
}

.card-header
{
	background: #6750ff;
}

.card-left img, .card-right img
{
	width:  100%;
	height: 300px;
}

.card-left p, .card-right p
{
	color:       dimgray;
	text-shadow: none;
}

.about
{
	width:               100%;
	margin-top:          10px;
	transition-duration: 1s;
	display:             inline-block;
}

.about-header
{
	background-color: #7565df;
}

.about p, .about ul
{
	color:       dimgray;
	text-shadow: none;
	text-align:  left;
	line-height: 150%;
}

.about ul li
{
	margin-right:   40px;
	margin-left:    10px;
	padding-bottom: 30px;
	float:          left;
}

.about ul li a
{
	transition-duration: 1s;
}

.about ul li:hover a
{
	text-shadow: 0 0 1px #303030;
}

.footer-bar
{
	margin-top:       13px;
	padding-top:      8px;
	padding-bottom:   9px;
	width:            100%;
	font-size:        14px;
	text-shadow:      none;
	color:            #7f7f7f;
	background-color: #dfdfdf;
	box-shadow:       0 0 3px #cfcfcf;
	display:          inline-block;
}

.about-header, .card-header
{
	color:          white;
	font-size:      18px;
	width:          100%;
	padding-top:    10px;
	padding-bottom: 9px;
}

/* Hover effects */
.card-left:hover, .card-right:hover, .banner:hover, header:hover, .about:hover
{
	box-shadow: 3px 6px 20px black;
}

/* Border shadows */
header, .banner, .card-left, .card-right, .about
{
	box-shadow: 0 3px 5px #404040;
}
