@charset "UTF-8";

header
{
	background-color: #4067ef;
}

/* Banner */
.banner
{
	background:      url(../Assets/Images/Banners/The-Starry-Night.jpg) no-repeat fixed;
	background-size: cover;
}

/* Board */
.board
{
	width:         100%;
	margin-top:    10px;
	display:       inline-block;
	margin-bottom: -4px;
}

.card-header
{
	background: #5770ff;
}

/* About */
.about
{
	width:               100%;
	margin-top:          10px;
	transition-duration: 1s;
	display:             inline-block;
}

.about-header
{
	background-color: #5060ff;
	color:            white;
	font-size:        18px;
	width:            100%;
	padding-top:      10px;
	padding-bottom:   9px;
}

.about p, .about table
{
	color:       dimgray;
	text-shadow: none;
	text-align:  left;
	line-height: 150%;
}

.about table
{
	width:          100%;
	padding-left:   4%;
	padding-right:  4%;
	padding-bottom: 30px;
	float:          left;
}

.about td a
{
	transition-duration: 1s;
}

.about td:hover a
{
	text-shadow: 0 0 1px #303030;
}

/* Hover effects */
.about:hover
{
	box-shadow: 3px 6px 20px black;
}

/* Border shadows */
.about
{
	box-shadow: 0 3px 5px #404040;
}
