@charset "UTF-8";

/* Time line design adapted from resources on line. */
html
{
	box-sizing: border-box;
}

*, *:before, *:after
{
	box-sizing: inherit;
}

.time-line img
{
	width: 100%;
}

.time-line
{
	text-align:  center;
	font-family: georgia, sans-serif;
	font-size:   24px;
}

.time-line .year
{
	display:     inline-block;
	font-size:   36px;
	font-weight: normal;
	position:    relative;
}

.time-line .year span
{
	display:        inline-block;
	padding-bottom: 6px;
}

.time-line .year:after
{
	content:    "";
	display:    block;
	width:      80%;
	margin:     auto;
	height:     1px;
	background: green;
}

.time-line .year-end:before
{
	content:    "";
	display:    block;
	width:      80%;
	margin:     auto;
	height:     1px;
	background: green;
}

.time-line .year-end:after
{
	content: none;
}

.time-line .days
{
	list-style-type: none;
	margin:          0;
	padding:         0;
}

.time-line .days .day
{
	width: 100%;
	float: left;
}

.time-line .days .day .events
{
	position:     relative;
	float:        left;
	border-right: 1px solid green;
	padding:      30px;
	text-align:   right;
	width:        50%;
}

.time-line .days .day .events:after
{
	content:    "";
	width:      40%;
	display:    inline-block;
	height:     1px;
	background: green;
	position:   absolute;
	right:      0;
}

.time-line .days .day .events .date
{
	position:    absolute;
	top:         50%;
	left:        100%;
	transform:   translateY(-50%);
	padding:     30px;
	text-align:  left;
	color:       darkgreen;
	white-space: nowrap;
}

.time-line .days .day .events .day-img
{
	margin-right:        -30px;
	position:            relative;
	overflow:            hidden;
	transition-duration: 1.5s;
}

.time-line .days .day .events .day-img:hover
{
	box-shadow: -3px 3px 10px #404040;
}

.time-line .days .day .events .day-img img
{
	display: block;
	float:   right;
}

.time-line .days .day .events .day-img .caption
{
	position: absolute;
	margin:   0;
	bottom:   0;
	right:    0;
	padding:  20px;
}

.time-line .days .day .events .day-img .caption
{
	background:          transparent;
	color:               transparent;
	transition-duration: 1s;
}

.time-line .days .day .events .day-img:hover .caption
{
	background: rgba(0, 0, 0, 0.4);
	color:      #ffffff;
}

.time-line .days .day:nth-child(odd) .events
{
	width:        calc(50% + 1px);
	float:        right;
	border-right: 0;
	border-left:  1px solid green;
	text-align:   left;
}

.time-line .days .day:nth-child(odd) .events:after
{
	right: auto;
	left:  0;
}

.time-line .days .day:nth-child(odd) .events .date
{
	left:       auto;
	right:      100%;
	text-align: right;
}

.time-line .days .day:nth-child(odd) .events .day-img
{
	margin-right: auto;
	margin-left:  -30px;
}

.time-line .days .day:nth-child(odd) .events .day-img:hover
{
	box-shadow: 3px 3px 10px #404040;
}

.time-line .days .day:nth-child(odd) .events .day-img img
{
	float: left;
}

.time-line .days .day:nth-child(odd) .events .day-img .caption
{
	right: auto;
	left:  0;
}
